
body {
  max-width: 1200px;
}

.topcontainer {
  display: flex;
  flex-direction: row;
}

header {
  height: 64px;
  align-items: center;
  width: 1000px;

}

header nav {
  display: inline-block;
  text-align: right;
  width: 100%;
}

span a {
text-decoration: none;
text-align: right;
justify-content: space-around;
}


.main {
  max-width: 1200px;

}

/* section 1 */

.container {
  display: flex;
  width: 1200px;
}


.container img {
  max-width: 600px;
  margin-left: 72px;
  margin-right: 72px;

}

.information {
  width: 40%;

}

.info img {
  
}

.infotext {
  width: 65%;
}

.infotext ul li {
  line-height: 1.1;
}

.orientation {
  height: auto;
}

.picture {
  padding-top: 32px;

}

.learn {
  padding-top: 70px;
}

.learn h1 {
font-weight: bold;
font-size: 36px;
}

.learn h3 {
line-height: 1.5;
}

/*
.learn span {
background-color: grey;
color: white;
margin-left: 75px;
font-size: 1rem;

}
*/

.button {
  width: 150px;
  height: 34px;
  color: white;
  margin-left: 55px;
  text-align: center;
  padding-top: 10px;
  font-size: 1.2rem;
  background-color: #4424D6;
}


/*section 2 */

.pictext {
  margin-left: 64px;
  margin-top: 32px;
  width: 400px;
}

.pictext h2 {
  font-size: 1.5rem;
  font-weight: bold;

}

.title {
  width: auto;
}

.title span {
align-items: center;
}



.pictext p {

}

.pictext h4 {
  margin-top: 32px;
  font-size: 10px;
}

ul li:first-child {
  font-weight: bold;
}

.info {
display: inline-flex;
margin-top: 32px;
width: 400px;
background-color: #EDEFE4;
}

.info img {
  width: 140px;
  height: 140px;
}


/* Start Learning */

/*
.container2 {
  display: inline-block;
  margin: 72px;
  max-width: 1000px;

}
*/

.container h2 {

}

.group1 {
margin-top: 72px;
}

.group2 {
  margin-top: 72px;

}

.group3 {
  margin-top: 72px;
}

.coursepics {
  width: 350px;
}


.coursepics img {
  height: 150px;
  width: 300px;
}

.courseinfo {
  height: 150px;
  background-color: white;
  text-align: left;
  align-items: center;
  padding-top: 10px;
  line-height: 1.2;
  overflow: auto;
  width: 200px;
  margin: auto;

}

.courseinfo ul li {

}


/* last section */

.heading {
  padding-bottom: 15px;

}

/* footer */

.footer {
  display: flex;
  flex-direction: row;
  border-top: .5px solid grey;
  height: 64px;
  padding-top: 24px;
}
