
font-family: 'Lato', sans-serif;


body {
  max-width: 1200px;
}

.main {
  font-family: Lato;
}

@media only screen and (max-width: 980px) {
main {
  overflow: hidden;
  flex-wrap: wrap;
}
}

.topcontainer {
  display: flex;
  flex-direction: row;

}

.logo {
  display: inline-flex;
}

@media only screen and (max-width: 480px) {
  .logoname {
    display: none;
  }
}


header {
  height: 64px;
  align-items: center;
  width: 1000px;

}

header nav {
  display: inline-block;
  text-align: right;
  width: 100%;
  padding-left: 100px;
  align-items: right;
}

span a {
text-decoration: none;
text-align: right;
justify-content: space-around;
padding-left: 10px;
color: black;
}

span a:hover {
  color: blue;
}


.container1 {
  display: flex;
  width: 1200px;
  padding-bottom: 24px;
  margin-left: 16px;
  padding-left: 32px;
}

@media only screen and (max-width: 480px) {
  .container2 {
    display: none;
  }
}

.main {
  max-width: 1200px;

}

/* section 1 */

.container {
  display: flex;
  flex-direction: column;
  width: 1225px;
  padding-bottom: 24px;
  margin-left: 16px;
  background-color: lightgray;
}

.container2 {
  display: flex;
  width: 1200px;
  padding-bottom: 24px;
  margin-left: 16px;
  padding-left: 32px;
}

@media only screen and (max-width: 480px) {
  .container2 {
    display: block;
    width: 350px;
    margin-left: 32px;

  }
}



.container2 img {
  max-width: 600px;
  margin-left: 72px;
  margin-right: 72px;
}



.container3 {
  display: flex;
  width: 1200px;
  padding-bottom: 24px;
  margin-left: 16px;
  padding-left: 32px;
}

@media only screen and (max-width: 480px) {
  .container2 .picture {
  display: none;
  }
}

@media only screen and (max-width: 480px) {
  .container {
    display: block;
    flex-direction: column;
    background-color: white;
  }
}

.container1:nth-child(2n+1) {
  background-color: lightgray;
}


.container1 img {
  max-width: 600px;
  margin-left: 72px;
  margin-right: 72px;

}

@media only screen and (max-width: 480px) {
  .container1 {
    display: block;
    width: 350px;
    margin-left: 12px;
  }
}

@media only screen and (max-width: 480px) {
  .container1 img {
    width: 300px;
    height: 200px;
    margin-left: 12px;
  }
}


.information {
  width: 40%;
}

@media only screen and (max-width) {
  .information {
    margin-left: 12px;
  }
}

.info img {

}

.infotext {
  width: 65%;
  padding-top: 20px;
}

.infotext ul {

}

.infotext ul li {
  line-height: 1.1;
}

.orientation {
  height: auto;
}

.picture {
  padding-top: 32px;

}

.learn {
  padding-top: 70px;
}

.learn h1 {
font-weight: bold;
font-size: 36px;
}

.learn h3 {
line-height: 1.5;
}

/*
.learn span {
background-color: grey;
color: white;
margin-left: 75px;
font-size: 1rem;

}
*/

.button {
  width: 225px;
  height: 34px;
  color: white;
  margin-left: 55px;
  text-align: center;
  padding-top: 10px;
  font-size: 1.2rem;
  background-color: gray;
  border: .5px solid #44D6;
}

.button a {
  color: white;
}

.button a:hover {
  color: purple;
}

.button:hover {
  background-color: blue;
  color: purple;
}


/*section 2 */

.pictext {
  margin-left: 64px;
  margin-top: 32px;
  width: 400px;
}

.pictext h2 {
  font-size: 1.5rem;
  font-weight: bold;

}

.title {
  width: 100%;
}

.title h2 {
  padding-left: 40%;
  align-items: center;
  padding-top: 32px;
  font-size: 2em;

}

.title span {
align-items: center;
}



.pictext p {

}

.pictext h4 {
  margin-top: 32px;
  font-size: 10px;
}

ul li:first-child {
  font-weight: bold;
  font-size: 1.25em;
  padding-bottom: 5px;
}

.infotext {

}

.info {
display: inline-flex;
margin-top: 32px;
width: 450px;
background-color: lightgrey;

}

@media only screen and (max-width: 480px) {
  .info {
    display: block;
    width: 350px;
    margin: 12px;
    padding-left: 12px;
  }
}

.info img {
  width: 140px;
  height: 140px;
  margin-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}


/* Start Learning */


@media only screen and (max-width: 480px) {
  .coursepics img {
    display: none;
  }
}

@media only screen and (max-width: 480px) {
  .courseinfo  {
    display: block;
    height: 32px;
    margin-right: 72px;
    align-items: center;

  }
}

@media only screen and (max-width: 480px) {
  .group1 {
    padding-left: 24px;
  }
}

.container h2 {

}

.courseinfo h3 {
  font-size: 1.3em;
}

.container ul li {

}

@media only screen and (max-width: 480px) {
  .container ul li {
    display: none;

  }
}



.group1 {
margin-top: 72px;
flex-grow: 1;
padding-left: 40px;
/* display: inline-flex;*/
}

.innerGroup1 {
  display: flex;
  flex-direction: row;
  padding-left: 32px;
}

@media only screen and (max-width: 480px) {
.innerGroup1 {
  flex-direction: column;
}
}

.group2 {
  margin-top: 72px;
  flex-grow: 1;
  padding-left: 72px;
/* display: inline-flex; */
}

@media only screen and (max-width: 480px) {
.group2 {
  margin-top: 1px;
}
}

.innerGroup2 {
  display: flex;
  flex-direction: row;
}

@media only screen and (max-width: 480px) {
.innerGroup2 {
  flex-direction: column;
}
}

.group3 {
  margin-top: 72px;
}

.coursepics {
  width: 350px;
  flex-grow: 1;
}


.coursepics img {
  height: 150px;
  width: 300px;
}

.courseinfo {
  /*height: 120px;*/
  background-color: white;
  text-align: left;
  align-items: center;
  padding-top: 10px;
  line-height: 1.2;
  overflow: auto;
  width: 300px;
  margin-bottom: 12px;

}

@media only screen and (max-width: 480px) {
  .courseinfo {
    background-color: lightgrey;
  }
}

.courseinfo ul li {

}


/* last section */

.heading {
  padding-bottom: 15px;

}

.videotext {
  padding-top: 16px;
  padding-bottom: 32px;
  width: 600px;

}

.videotext h3 {
  font-weight: bold;
  font-size: 1.25em;
}

.videotext p {
  padding-top: 10px;
}

@media only screen and (max-width: 480px) {
  .videotext {
  display: none;
  }
}

@media only screen and (max-width: 480px) {
  video {
    width: 350px;
    height: 350px;
    align-items: center;
  }
}

.thesisinfo {
  padding-top: 32px;
  margin-left: 20px;

}

@media only screen and (max-width: 480px) {
  .thesisinfo {
    display: none;
  }
}

.thesispic {
  display: inline-flex;
  padding-left: 12px;
  width: 560px

}

.thesispic:nth-child(2n+1) {
background-color: lightgray;


}

.thesispic img {
  width: 140px;
  height: 140px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 12px;
}

.thesistext {
  padding-top: 32px;
  margin-left: 12px;
}

.thesistext h2 {
  font-weight: bold;
  font-size: 1.2em;
  font-family: Lato;
}

.thesistext p {
  padding-top: 10px;
}


/* footer */

.footer {
  display: inline-flex;
  flex-direction: row;
  border-top: .5px solid grey;
  height: 64px;
  padding-top: 24px;
}

.terms {
  padding-left: 500px;
}

.terms span {
  justify-content: space-between;
}
